html body { height: 100% ;
}
.principal { max-width:1280px;
    min-height:100%;
    margin:0 auto;
   }

.footer{
    background:burlywood;
    position:absolute;
    width:100%;
    padding-top:50px;
    height:70px;
    margin-top: 1080px;
    display: flex ;
    justify-content: space-around ;
}

.nav1 {
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood;
    font-family: "Bradley Hand" ;
}

ul {list-style-type: none;
}

a:hover { color: black;
    transition: color 0.3s;
}

a { color : saddlebrown ;
    font-family: Arial ;
    font-size: 10px ;

}

.nav2{ display: block;
    flex-direction: column;
    font-family: "Bradley Hand" ;
    font-style: normal;
    width: 200px;
    height: 700px;
    float: left;
    border: 5px solid black;
    margin-right: 50px;
    margin-top: 30px;
    font-weight: bold;
    text-align: left;

}

.navigation1 { border-bottom: black dotted 3px ;
    padding : 20px ;

}
.navigation2 { padding : 20px ;

}


.titre { font-size: 25px;
    text-align: center;

}

h2 { text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: peachpuff;
}

.img1 { width: 100px

}

h1 { text-align: center ;
    margin-top: 50px;
    color: burlywood;
    font-family: "Bradley Hand";
    font-size: 45px;
    text-decoration: underline peachpuff;

}

.texte1 { text-align: center ;
    font-size: 20px;
    border: 5px double burlywood;
    color: black;
}

.div1 { display: flex ;
    justify-content: space-evenly ;
    margin-top: 50px ;

}

p { font-size: 20px;
    font-family: "Bradley Hand";
    color: black;}

.div2 { border: peachpuff solid 3px ;
    text-align: center;
    margin-right: 100px;

}

.img2 { margin-right: 100px;
    width: 350px;
}

.div3 { display: flex ;
    justify-content: space-evenly ;
    margin-top: 50px ;
}

.div4 { border: peachpuff solid 3px ;
    text-align: center;
    margin-right: 100px;
    }

.div5 { display: flex ;
    justify-content: space-evenly ;
    float: left;
    margin-top: 50px;
}

.div6 {border: peachpuff solid 3px ;
    text-align: center;
    margin-right: 100px;
    }

.div7 { display: flex ;
    justify-content: space-evenly ;
    float: left;
    margin-top: 50px;
}

.div8 { border: peachpuff solid 3px ;
    text-align: center;
    margin-right: 100px;
}

.div9 {  display: flex ;
    justify-content: space-evenly ;
    float: left;
    margin-top: 50px;
}
.div10 { border: peachpuff solid 3px ;
    text-align: center;
    margin-right: 100px;

}

.div11 {  display: flex ;
    justify-content: space-evenly ;
    float: left;
    margin-top: 50px;
}

.div12 { border: peachpuff solid 3px ;
    text-align: center;
    margin-right: 100px;
}

