header { color:lightpink;
    font-size: 25px;
    background-color: antiquewhite;
    text-align: center;
    font-family: Bradley Hand;
    }

.txt { font-family: "Bradley Hand"; }


.premiertxt {font-size : 25px ;
    color: lightpink;
    text-align: center;
}
.secondtxt {font-size: 20px ;
    color: lightpink;
    text-align: center;
    margin-top: 40px;

}

.troisiemetxt { font-size: 15px;
    color: lightpink;
}


.quatriemetxt { font-size: 15px;
    color: lightpink;
background-color: antiquewhite}

.cinquiemetxt { font-size: 20px;
    color: lightpink;
    font-weight: bold;
    text-align: center;
}


.boxprincipal{ margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.boxprincipal1 { display: flex;
    justify-content:space-around;
margin-left: 200px; }

.boxprincipal2 { display: flex;
    justify-content: space-between;
}



li { color: lightpink;
    font-size: 15px;
    font-family: "Bradley Hand";
}

img { width: 20px}

.title { margin-top: 50px ;
    font-size : 40px ;
    background-color: lightpink;
    font-family: "Bradley Hand";
    color: antiquewhite;
    text-align: center;
}

.title2 {color: lightpink ;
    text-align: center;
    background-color: antiquewhite;
    text-align: center;
    border-bottom:1px dashed lightpink;

}

.premierbox{ border: 5px solid antiquewhite;
}

.deuxiemebox { border-right: 5px solid antiquewhite; }

.quatriemebox { border: 2px solid antiquewhite }