.navbar-brand, .nav-link {
    color: white !important ;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;

}

.nav-link {
    font-size: 10px;
}

.a {
    background-color: gray;

}

.bg-image {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.mask {
    height: 800px ;
    background-repeat: no-repeat;
    background-size: cover ;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size : 30px ;


}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;

}

h3{
    font-family: 'Josefin Sans', sans-serif;
    color: #ad8438;
    font-size: 15px;

}
.image1  {
    width: 320px ;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}

.txt {
    font-size: 10px;
    margin-top: 100px;
}