.bg-pink, .bg-red, .bg-blue, .bg-purple, .bg-black{
    height: 50px ;

}

.bg-pink {
    background-color: lightpink ;

}

.bg-red {
    background-color: red ;

}

.bg-orange {

    background-color: orange ;
    height: 20px;
    width: 130px;


}

.bg-black {
    background-color: black ;

}

.bg-pink1 {
    background-color: lightpink ;
    height: 20px;


}

.bg-red1 {
    background-color: red ;
    height: 20px ;
   }

.bg-blue {
    background-color: aqua ;
}

.bg-purple {
    background-color: mediumpurple;

}