.nav-link {
    background-color: lightpink ;
    font-family: "Comic Sans MS";

}

.navbar-brand {
    background-color: lightpink ;
    font-family: "Comic Sans MS";
    font-size: 20px;
}

.b { height: 450px;
}

h4 {
    color: palevioletred;
    font-family: "Bradley Hand";
    font-size: 30px;


}

.card-title {
    text-align: center ;
    font-family: "Bradley Hand";
    font-size: 20px;

}
.card-text {
    text-align: center ;
    font-family: "Bradley Hand";
    font-size: 20px;


}


.card {
    border: double 3px lightpink;
}


