.bg-pink, .bg-blue, .bg-red, .bg-orange {
    height: 40px ;

}

.bg-pink {
    background-color: lightcoral ;
}

.bg-blue {
    background-color: aqua ;
}

.bg-yellow {
    height: 100% ;
    background-color: gold;
}

.bg-orange {
    background-color: orange;
}

.bg-red {
    background-color: crimson;
}