.navbar {
    font-family: "Open Sans", sans-serif;
}

h4 {
    font-family: DancingScript-Regular_, cursive;
    color: #f63e5e;
    text-align: center;
    size: 56px;
    padding: 30px;
}

h1 {
    font-family: DancingScript-medium_, cursive;
    color: #f63e5e;
    text-align: center;
    padding-top: 80px;
    size: 25px;
}

.bg-image {
    width: 599px;
    height: 365px;
}

.backg {
    size: 800px;
    width: 100%;
}

p {
    color: #f63e5e;
    font-family: DancingScript-Regular_, cursive;
}

.pink-border {
    border: 1px solid #f63e5e!important;
    border-radius: 3px;
}

.card-img-top {
    width: 500px;
    height: 250px;
}

footer p {
    color: white;
    font-family: "Open Sans", sans-serif;
}

.btn-pink {
    color: #f63e5e;
}