
.bg-fond {
    background-image: url("../assets/projetgroupe/flat-lay-2583213.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;

}

.title1 {
    color: #f63e5e;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}
.title2{
    color: #f63e5e;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.phrase {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
.img2 {
    width: 353px;
    height: 128px;
    margin-left: 830px;
    margin-top: 260px;

}
.btn {
    border: solid 2px #f63e5e;
    font-family: 'Open Sans', sans-serif;
    width: 233px;
    height: 33px;
    color: #f63e5e;
}

.titre {
    margin-top: 300px;
}


h3 {
    text-align: center;
    color: #13bcc2;
    font-family: 'Dancing Script', cursive;
    margin-top: 50px;
}

.img3 {
    margin-top: 30px;
    height: 398px;
    width: 100%;!important;
}


.rounded-circle {
    width: 150px;
    height: 150px;
    margin-left: 60px;
    margin-top: 15px;
}

ul {
    list-style-type : none;

}

.moncercle{
    background:white;
    border:2px solid black;
    border-radius:50%;
    width:25px;
    height:25px;
    text-align: center;

}